{% assign groups = site.data.schemes | group_by: "broad_taxa" | sort: "name" %}
{% for gp in groups %}
  
  <h2 id = "{{gp.name}}">{{gp.name | split: ". " | slice: 1}}</h2>
  {% assign schemes = gp.items | sort: "name" %}
  {% for scheme in schemes %}
  <div class="box">
    <article class="media">
      <div class="media-content">
        <h3 class="title is-3" id = "{{scheme.name}}">{{scheme.name}}</h3>
        <p class="subtitle is-6">{{scheme.type}}</p>
        <p>{{scheme.description}}</p>
        <p><strong>Taxa:</strong> {{scheme.taxa}}</p>
        {% unless scheme.website == null or scheme.website == "" %}
          <p><strong>Website: </strong><a href = "{{scheme.website}}">{{scheme.website}}</a></p>
        {% endunless %}
        {% assign gbif_prov = scheme.gbif_prov | strip_newlines %}
        {% unless gbif_prov == null or gbif_prov == "" %}
          {% assign pubs = scheme.gbif_prov | split: "; " %}
            <strong>GBIF Publisher Page(s)</strong>
            {% for id in pubs %}
              <p><a href="{{'https://www.gbif.org/publisher/' | append: id}}">{{id}}</a></p>
            {% endfor %}
          <!--<p><a href="{{'https://www.gbif.org/publisher/' | append: scheme.gbif_prov}}">GBIF Publisher Page</a></p>-->
        {% endunless %}
        {% unless scheme.gbif_data == null or scheme.gbif_data == "" %}
          {% assign ds = scheme.gbif_data | split: "; " %}
          <strong>GBIF Datasets</strong>
          {% for id in ds %}
            <p><a href="{{'https://www.gbif.org/dataset/' | append: id}}">{{id}}</a></p>
          {% endfor %}
        {% endunless %}
        <br/>
        {% unless scheme.gbif_prov == null or scheme.gbif_prov == "" %}
          <p><strong>GBIF data</strong></p>
          <p>
            <div class="button is-primary">
              <strong>
              <span data-ajax-url="{{'https://api.gbif.org/v1/occurrence/search?publishing_org=' | append: scheme.gbif_prov | append: '&limit=0'}}">
              </span> ocurrences
              </strong>
            </div>
          </p>
        {% endunless %}
          

        <nav class="level-right">
          <div class = "level-item">
            <a href="#{{gp.name}}" class="icon-text">
              <span class="icon">
                <i class="fas fa-angle-up"></i>
              </span>
              <span>To Section Heading</span>
            </a>
          </div>

          <div class="level-item">
          <a href="#" class="icon-text">
            <span class="icon">
              <i class="fas fa-angle-double-up"></i>
            </span>
            <span>To top</span>
          </a>
          </div>
        </nav>
        

      </div>
      <figure class="media-right">
        <div class = "image">
          {% unless scheme.logo == null or scheme.logo == "" %}
            <img 
              src= "{{ '/assets/images/scheme_logos/' | append: scheme.logo }}" 
              alt = "{{ scheme.name |append: ' logo' }}"
              style = "max-width: 200px; max-height: 130px; vertical-align: text-top;"
            />
          {% endunless %}
        </div>
      </figure>
    </article>
  </div>
  {% endfor %}
{% endfor %}

<button id="backToTop" class="button is-primary is-rounded is-hidden" style="position: fixed; bottom: 20px; right: 20px; z-index: 99;">
  <span>Top</span>
</button>
